main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

main > header {
    background-color: #950740;
    width:100%;
    margin-bottom:2em;
}

main > header > * {
    margin: 2em;
}

main > section {
    height:80vh;
}

.lineups {
    display:grid;
    grid-template-columns: 50% 50%;
}

h4 {
    color:#C3073F;
}