<html lang="EN">
<head>
    <title>The Gambler | Home</title>
    <link rel="stylesheet" href="../style/main.css"/>
    <link rel="stylesheet" href="../style/home.css"/>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <h1> The Gambler</h1>
    <h2> Football Statistics Provider </h2>
    <ul>
        <li class="active">Home</li>
        <li>Players</li>
        <li>Teams</li>
        <li>Matches</li>
        <li>Fantastic Team</li>
    </ul>
</nav>

<main>

    <section>
        <em>1024</em>
        <h3>Teams</h3>
    </section>
    <section>
        <em>40960</em>
        <h3>Players</h3>
    </section>
    <section>
        <em>1047552</em>
        <h3>Matches</h3>
    </section>
    <section>
        <em>100</em>
        <h3>Stadiums</h3>
    </section>
    <section>
        <em>100</em>
        <h3>Referees</h3>
    </section>
    <section>
        <em>5244983</em>
        <h3>Goals</h3>
    </section>
    <section>
        <em>11521090</em>
        <h3>Cards</h3>
    </section>
    <section>
        <em>6285312</em>
        <h3>Substitutions</h3>
    </section>
    <section>
        <em>2</em>
        <h3>Developers</h3>
    </section>

</main>

</body>
</html>